<div class="header">
  <ul class="nap">
    <li><a href="#intro-index">THÔNG TIN</a></li>
    <li><a href="./team">ĐỘI HÌNH</a></li>
    <img src="../access/97+Fc-removebg-preview.png" alt="" />
    <li><a href="#achievement-index">THÀNH TÍCH</a></li>
    <li><a href="./schedule">LỊCH ĐẤU</a></li>
  </ul>
</div>
