<div class="header">
  <ul class="nap">
    <li><a href="#">THÔNG TIN</a></li>
    <li><a href="./team">ĐỘI HÌNH</a></li>
    <li>
      <a href="/">
        <img src="../access/97+Fc-removebg-preview.png" alt="" />
      </a>
    </li>
    <li><a href="#">THÀNH TÍCH</a></li>
    <li><a href="./schedule">LỊCH ĐẤU</a></li>
  </ul>
</div>
