<meta charset="UTF-8" />
<title>Soccer Is Fun</title>

<!-- CSS (load bootstrap from a CDN) -->

<link rel="stylesheet" type="text/css" href="style/global.css" />
<link rel="stylesheet" type="text/css" href="style/detail.css" />
<link rel="stylesheet" type="text/css" href="style/schedule.css" />
<link rel="stylesheet" type="text/css" href="style/team.css" />

<link
  rel="stylesheet"
  type="text/css"
  href="/style/themify-icons/themify-icons.css"
/>
