<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="">
    <header><%- include('../partials/header'); %></header>

    <main>
        <div class="team-content">
            <div class="team-container">
                <div class="row">
    
                    <div class="box-player">
                        <div class="first-info">
                            <div class="number-player">
                                <img src="../access/5.png" alt="">
    
                            </div>
                            <div class="name-position">
                                <h1 class="name-player">TRAN DUC DUY</h1>
                                <h1 class="position-player">TIEN VE</h1>
                            </div>
                            <img src="../access/captain.png" alt="" class="cap">
                        </div>
                        <img src="../access/tranducduy.png" alt="" class="picture-player">
                    </div>
    
                    <div class="box-player">
                        <div class="first-info">
                            <div class="number-player">
                                <img src="../access/4.png" alt="">
                            </div>
                            <div class="name-position">
                                <h1 class="name-player">TRUONG CONG DAT</h1>
                                <h1 class="position-player">HAU VE CHOT</h1>
                            </div>
                        </div>
                        <img src="../access/truongcongdat.png" alt="" class="picture-player">
                    </div>
                    
                    <div class="box-player">
                        <div class="first-info">
                            <div class="number-player">
                                <img src="./acces/img/1.png" alt="">
                                <img src="./acces/img/2.png" alt="">
                            </div>
                            <div class="name-position">
                                <h1 class="name-player">CAO BA THANG</h1>
                                <h1 class="position-player">HAU VE CANH</h1>
                            </div>
                        </div>
                        <img src="../access/cbt.png" alt="" class="picture-player">
                    </div>
    
                </div>
            </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
